<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackpan.stockcomputer">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Required Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Optional Permissions. Use for optimize ad performance -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MarginTradingActivity"
            android:label="@string/title_activity_margin_trading"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".IncreaseorDecreaseActivity" />
        <activity android:name=".BrokerActivity" />
        <activity android:name=".DealerActivity" />
        <activity android:name=".TrustActivity" />
        <activity android:name=".ForeignInvestorActivity" />
        <activity android:name=".StockTrackDetailActivity" />
        <activity android:name=".StockTrackActivity" />
        <activity android:name=".ThreeActivity" />
        <activity android:name=".SelectPageActivity" />
        <activity android:name=".FinancingActivity" />
        <activity android:name=".TomorrowActivity" />
        <activity android:name=".TodaySellActivity" />
        <activity android:name=".MemberCenterActivity" />
        <activity android:name=".LandPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/NoTitle" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7019441527375550~9928677631" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/icon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" />

        <activity android:name=".PhoneAuthActivity" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->


    </application>

</manifest>